$base-color: #2c3e50;
$disabled-color: #dddddd;
$inactive-color: #888888;
$active-link-color: #0645ad;
$active-link-filter: invert(10%) sepia(76%) saturate(6849%) hue-rotate(214deg) brightness(96%) contrast(95%);
$inactive-filter: invert(58%) sepia(0%) saturate(420%) hue-rotate(146deg) brightness(94%) contrast(79%);
